<div class="bg-sky-900 text-white">
    <div class="mx-auto w-1/2 pt-4 pb-4 flex flex-row justify-between">
        <h1
            class="text-4xl cursor-pointer"
            routerLink="/">
            My Store
        </h1>
        <div class="flex flex-row justify-center items-end">
            <a routerLink="/">Products</a>
            <a
                class="ml-8"
                routerLink="/cart">
                Cart <span class="text-sm text-sky-500">{{ getNumItems() || '' }}</span>
            </a>
        </div>
    </div>
</div>
