<form>
    <div class="flex flex-col p-4 w-60 text-center">
        <a [routerLink]="['product', product.id]">
            <img
                class="border border-slate-500 rounded-sm p-3"
                src="{{ product.url }}"
                alt="Image of {{ product.name }}" />
        </a>
        <div class="flex flex-col pt-4">
            <a
                class="font-semibold"
                [routerLink]="['product', product.id]">
                {{ product.name }}
            </a>
            <p>{{ product.description }}</p>
        </div>
        <p class="pt-3 pb-3">${{ product.price }}</p>
        <select
            class="block mx-auto h-7 w-10 border"
            name="quantity"
            id="quantity"
            [(ngModel)]="quantitySelected"
            required>
            <option *ngFor="let quantity of quantities">
                {{ quantity }}
            </option>
        </select>
        <button
            class="mx-auto mt-4 w-48 h-8 rounded-sm bg-sky-900 text-white"
            (click)="addProductToCart(product)">
            Add to cart
        </button>
    </div>
</form>
